<html lang="en">
<head>
    <title>Example</title>
    <script src="/htmx.min.js"></script>
</head>
<body>
<div>Main page section</div>
<div hx-get="/news" hx-trigger="every 2s"></div>
</body>
</html>